* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    /*centering stuff*/
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    /*centering stuff*/
}

.light-container {
    background-color: antiquewhite;
    padding: 48px 0px;
}

.dark-container {
    background-color: rgb(204, 192, 176);
    padding: 48px 0px;
}