@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    text-align: center;
}

h1 {
    font-family: "Playfair Display", serif;
    text-align: center;
    max-width: 500px
}

p {
    font-family: "Roboto Slab", serif;
    max-width: 500px
}

h2 {
    font-family: "Playfair Display", serif;
    text-align: center;
    max-width: 500px
}