.post-it {
    background-color: rgb(217, 255, 0);
    margin: 24px;
    height: 200px;
    width: 200px;
    padding: 24px;
    display: inline-block;
    box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.5);
}

.pink {
    background-color: rgb(248, 190, 253);
}

.red {
    background-color: rgb(253, 88, 88);
}

.image {
    background-color: rgb(255, 255, 255);
}

.blue {
    background-color: rgb(88, 127, 253);
}