* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background: linear-gradient(rgb(0, 0, 0), rgb(65, 44, 1));
}

.single-column {
    background-color: rgb(79, 83, 83);
    color: rgb(255, 207, 145);
    border: solid;
    border-color: rgb(199, 96, 0);
    padding: 30px;
    max-width: 700px;
    margin: auto;
    text-align: center;
}