* {
    box-sizing: border-box;
}

body {
    background-color: rgb(126, 223, 236);
    margin: 0px;
    font-family: sans-serif;
}

.color-palette {
    box-shadow: 6px 6px 12px #000000;
    text-align: center;
    margin: 24px; 
    padding: 24px;
    background-color: white;
}

.color {
    margin: 0px;
    padding: 24px;
}

#color-1 {
    background-color: #8367C7;
}

#color-2 {
    background-color: #B3E9C7;
}

#color-3 {
    background-color: #C2F8CB;
}

#color-4 {
    background-color: #8ecae6;
}

#color-5 {
    background-color: #219ebc;
}

#color-6 {
    background-color: #023047;
    color: white;
}

#color-7 {
    background-color: #ffb703;
}

#color-8 {
    background-color: #fb8500;
}

#color-9 {
    background-color: #ccd5ae;
}

#color-10 {
    background-color: #e9edc9;
}

#color-11 {
    background-color: #fefae0;
}

#color-12 {
    background-color: #faedcd;
}

#color-13 {
    background-color: #d4a373;
}